<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCNW6vSaPvhWpW0t8DEUk0rY3ZDF153tn4</string>
	<key>GCM_SENDER_ID</key>
	<string>241551599743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.srvPaperless</string>
	<key>PROJECT_ID</key>
	<string>srv-paperless</string>
	<key>STORAGE_BUCKET</key>
	<string>srv-paperless.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241551599743:ios:e29599240017ea8492b74a</string>
</dict>
</plist>